[user]
	name = Yuanchao Sun
	email = yuanchao.sun@gmail.com
[core]
	editor = nvim
	pager = less -X
[color]
	ui = true
[push]
	default = simple
[alias]
	graph = log --graph --oneline --decorate
[credential]
	helper = cache --timeout=14400
[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = yuanchao.sun@gmail.com
	smtpServerPort = 587
