[user]
	name = Yuanchao Sun
	email = yuanchao.sun@gmail.com
[core]
	editor = nvim
	pager = less -X
[color]
	ui = true
[push]
	default = simple
[alias]
	graph = log --graph --oneline --decorate
[credential]
	helper = osxkeychain
